<form class="eventsadd-form">
    
  <mat-form-field>
    <mat-select placeholder="Select a category">      
          <mat-option value="option">Sport</mat-option>
          <mat-option value="option">Music</mat-option>
          <mat-option value="option">Media</mat-option>       
        </mat-select>
      </mat-form-field>  

    <mat-form-field>  
          <textarea matInput placeholder="Event title"></textarea>
        </mat-form-field>    
       
        
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>     
        
        
   
    <button mat-button value="Add Item">ADD AN EVENT</button>
  
      </form>
