<div class="eventsadd-container">
    
           
    <mat-select placeholder="Select">
        
        
          <mat-option value="option">Sport</mat-option>
          <mat-option value="option">Music</mat-option>
          <mat-option value="option">Media</mat-option>
          
        </mat-select>
      

    
          <textarea matInput placeholder="Event title"></textarea>
        

    
     <owl-date-time [(ngModel)]="moment" ></owl-date-time>
    
     
    <form><button mat-button>ADD AN EVENT</button></form>
  
</div> 
